@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_LayoutIndexNoLogin.cshtml";
}
<!-- =======================
Main Banner START -->
<section class="pt-0">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Slider START -->
				<div class="tiny-slider arrow-round arrow-blur arrow-hover rounded-3 overflow-hidden">
					<div class="tiny-slider-inner"
						 data-autoplay="false"
						 data-gutter="0"
						 data-arrow="true"
						 data-dots="false"
						 data-items="1">
						<!-- Card item START -->
						<div class="card overflow-hidden h-500px h-md-600px text-center rounded-0"
							 style="
                      background-image: url(../assets/images/banner/btec.jpg);
                      background-position: center;
                      background-size: cover;
                    "></div>
						<!-- Card item END -->
						<!-- Card item START -->
						<div class="card overflow-hidden h-500px h-md-600px text-center rounded-0"
							 style="
                      background-image: url(../assets/images/banner/fpoly.jpg);
                      background-position: center;
                      background-size: cover;
                    "></div>
						<!-- Card item END -->
						<!-- Card item START -->
						<div class="card overflow-hidden h-500px h-md-600px text-center rounded-0"
							 style="
                      background-image: url(../assets/images/banner/fuda.jpg);
                      background-position: center;
                      background-size: cover;
                    "></div>
						<!-- Card item END -->
						<!-- Card item START -->
						<div class="card overflow-hidden h-500px h-md-600px text-center rounded-0"
							 style="
                      background-image: url(../assets/images/banner/greenwich.jpg);
                      background-size: cover;
                    "></div>
						<!-- Card item END -->
						<!-- Card item START -->
						<div class="card overflow-hidden h-500px h-md-600px text-center rounded-0"
							 style="
                      background-image: url(../assets/images/banner/mel.png);
                      background-position: center;
                      background-size: cover;
                    "></div>
						<!-- Card item END -->
						<!-- Card item START -->
						<!-- <div
							class="card overflow-hidden h-500px h-md-600px text-center rounded-0"
							style="background-image:url(~/assets/images/bg/02.jpg); background-position: center left; background-size: cover;">
						</div> -->
						<!-- Card item END -->
					</div>
				</div>
				<!-- Slider END -->
			</div>
		</div>
	</div>
</section>
<!-- =======================
Main Banner END -->
<!-- =======================
About START -->
<section class="pt-0 pt-md-5">
	<div class="container">
		<div class="row g-md-5 align-items-center">
			<div class="col-lg-6 mb-3 mb-lg-0">
				<div class="row mt-4 mt-md-0">
					<!-- Image 1 -->
					<div class="col-6">
						<img class="rounded" src="~/assets/images/about/24.jpg" alt />
					</div>

					<!-- Image 2 -->
					<div class="col-6 mt-5 position-relative">
						<img class="rounded" src="~/assets/images/about/25.jpg" alt />
						<!-- SVG decoration -->
						<figure class="position-absolute top-0 end-0 mb-5 mt-n4 d-none d-lg-block">
							<svg width="192.5px"
								 height="89.4px"
								 viewBox="0 0 192.5 89.4">
								<path class="fill-primary"
									  d="M170.2,0.5c-0.1,0-0.2,0-0.4,0c-2.6-0.1-5.2-0.4-7.8-0.5c-2.9-0.1-5.8,0-8.6,0.2c-1.4,0.1-2.9,0.3-4.3,0.5 c-0.5,0.1-1,0-1.5,0c-1-0.1-1.9,0.2-2.9,0.3c-5.6,0.9-11.1,2.1-16.5,3.6c-2.7,0.7-5.4,1.6-8.1,2.5c-0.6,0.2-1.2,0.4-1.8,0.5 c-0.4,0-0.8,0-1.2,0.1c-1.5,0.2-3,1.1-4.3,1.8c-3,1.5-5.9,3.2-8.6,5.2c-2,1.5-3.8,3.1-5.6,4.8c-0.9,0.9-1.7,1.8-2.5,2.7 c-0.4,0.4-1.1,0.7-1.4,1.2c-0.3,0.4-0.6,0.9-0.9,1.4c-0.9,1.2-1.7,2.3-2.7,3.4c-0.3,0.4-0.7,0.6-1.2,0.6c-1.4,0.1-2.8-0.1-4.2-0.1 c-0.7,0-1.2,0.2-1.9,0.2c-3.3,0.4-6.6,0.7-9.8,1.6c-1.7,0.5-3.4,0.9-5.1,1.4c-5.4,1.5-11,2.9-16,5.4c-4.6,2.2-8.7,5.2-12.7,8.3 c-2,1.6-4,3.2-5.9,4.9c-0.8,0.7-1.6,1.2-2.5,1.6c-0.9,0.5-1.7,1.3-2.4,2c-1.4,1.3-2.9,2.6-4.3,3.9c-1.2,1.1-2.5,2.1-3.6,3.3 c-0.9,1-2,1.9-3,2.8c-1,0.9-2.1,1.9-3.1,2.8c-0.8,0.7-1.6,1.2-2.3,1.9c-0.9,0.9-1.7,1.9-2.7,2.7c0-0.7,0.2-1.3,0.2-2 c0-1.8-0.2-3.7-0.7-5.5c-0.2-0.9-0.5-1.8-1.1-2.4c-0.6-0.7-1.7-1-2.4-0.6c-0.1,0.1-0.3,0.2-0.4,0.3c-0.1,0.2-0.1,0.4,0,0.6 c0.7,3.7,1.2,7.4,0.7,11.1c-0.2,2.4-0.9,4.9-2,7c-0.5,1-1.2,1.9-1.7,3c-0.4,1-1.4,1.8-2.1,2.7C0.3,86,0.1,86.3,0,86.6 c-0.1,0.4,0.1,0.7,0.2,1.1c0.3,0.8,0.8,1.6,1.6,1.7c0.5,0,0.9-0.2,1.3-0.5c0.9-0.5,1.7-1.1,2.6-1.6c0.4-0.2,0.7-0.5,1.1-0.7 c1.7-1.3,3.7-2.3,5.7-3.1c4.3-1.7,9.1-2.4,13.8-1.7c0.2,0,0.4,0.1,0.7,0c0.7-0.2,0.9-1.2,0.4-1.8c-0.4-0.6-1.2-0.8-1.9-1 c-2.7-0.8-5.4-1.5-8.2-1.8c-0.7-0.1-1.4-0.1-2.1-0.2c-0.3,0-0.6,0-0.8,0c-0.3,0-0.9,0.2-1.2,0.1C13,77,13,77.1,13,76.8 c0-0.4,0.6-0.8,0.9-1c0.5-0.4,0.9-0.8,1.4-1.2c1.1-1,2.3-1.9,3.4-2.9c0.6-0.5,1.1-1,1.7-1.5c0.3-0.3,0.5-0.7,0.9-1 c1.2-1.1,2.7-1.7,3.9-2.8c0.4-0.4,0.8-0.8,1.2-1.2c0.8-0.8,1.7-1.5,2.6-2.2c1-0.8,2.1-1.6,3.1-2.3c0.9-0.6,1.9-1.1,2.6-2 c0.8-1,2.1-1.7,3.1-2.5c1.1-0.9,2.2-1.8,3.3-2.6c3.9-3.1,7.9-6.2,12.3-8.6c5.2-2.7,10.6-4.9,16.3-6.4c5.5-1.4,11.2-1.8,16.8-2.7 c0.2,0,0.3-0.1,0.5-0.1c1.4-0.2,2.3-0.4,2,1.5c-0.8,4.9,2.3,7.5,5.8,9.8c4,2.5,8,5,12.7,5.8c5.2,0.9,10.4,2.7,15.9,0.8 c3-1,6.3-5,6.2-7.6c0-1.7-0.3-3.5-1-5.1c-0.6-1.4-1.5-3-2.8-3.7c-1-0.5-1.9-1.5-2.8-2.2c-1.1-0.8-2.2-1.5-3.3-2.1 c-2.3-1.2-4.8-2.1-7.3-2.8c-3.5-0.9-7.2-1.4-10.8-1.8c-0.9-0.1-1.7-0.2-2.6-0.2c-0.2,0-1.4,0-1.4-0.2c-0.1-0.2,0.3-0.5,0.4-0.6 c0.8-0.9,1.7-1.8,2.5-2.6c1.7-1.7,3.6-3.3,5.5-4.8c2-1.6,4.2-3,6.4-4.1c1.1-0.6,2.3-1.1,3.5-1.5c0.6-0.2,1.2-0.4,1.8-0.6 c0.4-0.2,0.7-0.5,1.1-0.7c1.2-0.6,2.7-0.9,4-1.3c1.4-0.4,2.8-0.8,4.2-1.2c2.8-0.8,5.6-1.5,8.4-2.2c3.4-0.8,6.9-1.6,10.3-2.4 c7.9-1.7,15.9-2.4,24-1.7c4.4,0.4,8.9,0.9,13.2,2.1c1.3,0.4,2.5,0.8,3.9,1.1c0.7,0.1,1.4,0.5,2,0.9c0.9,0.5,1.7,0.9,2.6,1.4 c0.3,0.2,0.7,0.3,0.9,0.1c0.1-0.1,0.1-0.3,0.1-0.4c0-0.9-0.4-1.8-1-2.5c-0.5-0.6-1.2-1.4-1.9-1.8c-0.9-0.6-2.2-0.9-3.3-1.3 c-1.1-0.4-2.2-0.7-3.3-1c-2.8-0.8-5.6-1.4-8.5-1.9C173.1,0.9,171.6,0.6,170.2,0.5z M106.8,36c5,0.8,11.2,2,16.2,6.2 c1.1,0.9,2.8,1.6,2.3,3.4c-0.4,1.7-2.1,1.8-3.5,2.3c-5,1.5-9.9,0-14.5-1.2c-4.9-1.2-9.7-3.3-13.5-7c-0.6-0.6-1.2-1.3-1.5-2.1 c-0.1-0.3-0.1-0.7-0.2-1c-0.1-0.3-0.3-0.6,0-0.9c0.2-0.2,0.5-0.3,0.9-0.3c2.4-0.4,4.9-0.6,7.4-0.5c0.9,0,1.8,0.4,2.7,0.5 C104.5,35.6,105.7,35.8,106.8,36z" />
							</svg>
						</figure>
					</div>

					<!-- Content -->
					<div class="col-8 col-sm-5 mt-n6 align-items-end position-relative">
						<!-- SVG decoration -->
						<figure class="mt-n7 me-n7 position-absolute top-0 end-0">
							<svg width="192px" height="190px">
								<path stroke="#F99D2B"
									  fill="none"
									  stroke-width="10"
									  d="M9.1,82.6C15.5,36,58.7,2.7,105.5,8.3c47.3,5.7,81.4,49.3,75.7,96.6c-5.8,47.2-49.4,81.4-96.6,75.7" />
							</svg>
						</figure>
						<div class="p-3 card card-body shadow rounded-3 d-inline-block position-relative mt-n2">
							<!-- Info -->
							<h6 class="mb-2">
								Congratulations
								<span class="ms-1">
									<i class="fas fa-check-circle text-success"></i>
								</span>
							</h6>
							<p class="mb-0 small">
								Your admission is successfully confirmed.
							</p>
							<!-- Icon -->
							<div class="icon-lg bg-primary rounded-circle position-absolute top-100 start-100 translate-middle">
								<i class="bi bi-shield-check text-white"></i>
							</div>
						</div>
					</div>
				</div>
				<!-- Row END -->
			</div>

			<div class="col-lg-6 mt-5 mt-lg-0">
				<!-- Title -->
				<h2 class="mb-3">Welcome to FPT Training System</h2>
				<p class="mb-3 mb-lg-4">
					Two before narrow not relied on how except moment myself
					Dejection assurance Mrs led certainly So gate at no only none
					open Betrayed.
				</p>
				<!-- Content -->
				<div class="row g-4">
					<!-- Item -->
					<div class="col-6">
						<div class="d-sm-flex align-items-center">
							<div class="icon-md fs-5 text-white bg-warning rounded">
								<i class="fas fa-user-graduate"></i>
							</div>
							<div class="ms-0 ms-sm-3 mt-2 mt-sm-0">
								<h6 class="mb-0">Undergraduate</h6>
								<div class="small">
									<i class="bi bi-stopwatch me-2"></i>Onsite
								</div>
							</div>
						</div>
					</div>

					<!-- Item -->
					<div class="col-6">
						<div class="d-sm-flex align-items-center">
							<div class="icon-md fs-5 text-white bg-info rounded">
								<i class="fas fa-graduation-cap"></i>
							</div>
							<div class="ms-0 ms-sm-3 mt-2 mt-sm-0">
								<h6 class="mb-0">Graduate</h6>
								<div class="small">
									<i class="bi bi-stopwatch me-2"></i>Online + Onsite
								</div>
							</div>
						</div>
					</div>

					<!-- Item -->
					<div class="col-6">
						<div class="d-sm-flex mb-lg-0 align-items-center">
							<div class="icon-md fs-5 text-white bg-danger rounded">
								<i class="bi bi-award"></i>
							</div>
							<div class="ms-0 ms-sm-3 mt-2 mt-sm-0">
								<h6 class="mb-0">Post Graduate</h6>
								<div class="small">
									<i class="bi bi-stopwatch me-2"></i>Online + Onsite
								</div>
							</div>
						</div>
					</div>

					<!-- Item -->
					<div class="col-6">
						<div class="d-sm-flex mb-lg-0 align-items-center">
							<div class="icon-md fs-5 text-white bg-purple rounded">
								<i class="bi bi-laptop"></i>
							</div>
							<div class="ms-0 ms-sm-3 mt-2 mt-sm-0">
								<h6 class="mb-0">Online education</h6>
								<div class="small">
									<i class="bi bi-stopwatch me-2"></i>Coming soon...
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Row END -->
				<!-- Button -->
				<a href="#" class="btn btn-primary-soft mb-0 mt-3 mt-lg-4">
					More about
					us
				</a>
			</div>
		</div>
	</div>
</section>
<!-- =======================
About END -->
<!-- =======================
Listed college START -->
<section class="pt-0">
	<div class="container">
		<!-- Title -->
		<div class="row mb-4">
			<div class="col-lg-8 mx-auto text-center">
				<h2 class="mb-0">Top Course</h2>
				<p class="mb-0">
					Perceived end knowledge certainly day sweetness why cordially.
				</p>
			</div>
		</div>

		<div class="row">
			<!-- Slider START -->
			<div class="tiny-slider arrow-round arrow-dark arrow-hover">
				<div class="tiny-slider-inner"
					 data-autoplay="false"
					 data-arrow="true"
					 data-edge="2"
					 data-dots="false"
					 data-items="4"
					 data-items-lg="2"
					 data-items-sm="1">
					<!-- Card item START -->
					<div class="col-sm-6 col-lg-4 col-xl-3">
						<div class="card shadow h-100">
							<!-- Image -->
							<img src="~/assets/images/courses/4by3/08.jpg"
								 class="card-img-top"
								 alt="course image" />
							<!-- Card body -->
							<div class="card-body pb-0">
								<!-- Badge and favorite -->
								<div class="d-flex justify-content-between mb-2">
									<a href="#"
									   class="badge bg-purple bg-opacity-10 text-purple">All level</a>
									<a href="#" class="h6 fw-light mb-0">
										<i class="far fa-heart"></i>
									</a>
								</div>
								<!-- Title -->
								<h5 class="card-title">
									<a href="#">Sketch from A to Z: for app designer</a>
								</h5>
								<!-- Rating star -->
								<ul class="list-inline mb-0">
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="far fa-star text-warning"></i>
									</li>
									<li class="list-inline-item ms-2 h6 fw-light mb-0">
										4.0/5.0
									</li>
								</ul>
							</div>
							<!-- Card footer -->
							<div class="card-footer pt-0 pb-3">
								<hr />
								<div class="d-flex justify-content-between">
									<span class="h6 fw-light mb-0">
										<i class="far fa-clock text-danger me-2"></i>12h
										56m
									</span>
									<span class="h6 fw-light mb-0">
										<i class="fas fa-table text-orange me-2"></i>15
										lectures
									</span>
								</div>
							</div>
						</div>
					</div>
					<!-- Card item END -->
					<!-- Card item START -->
					<div class="col-sm-6 col-lg-4 col-xl-3">
						<div class="card shadow h-100">
							<!-- Image -->
							<img src="~/assets/images/courses/4by3/02.jpg"
								 class="card-img-top"
								 alt="course image" />
							<div class="card-body pb-0">
								<!-- Badge and favorite -->
								<div class="d-flex justify-content-between mb-2">
									<a href="#"
									   class="badge bg-success bg-opacity-10 text-success">Beginner</a>
									<a href="#" class="text-danger"><i class="fas fa-heart"></i></a>
								</div>
								<!-- Title -->
								<h5 class="card-title">
									<a href="#">Graphic Design Masterclass</a>
								</h5>
								<!-- Rating star -->
								<ul class="list-inline mb-0">
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star-half-alt text-warning"></i>
									</li>
									<li class="list-inline-item ms-2 h6 fw-light mb-0">
										4.5/5.0
									</li>
								</ul>
							</div>
							<!-- Card footer -->
							<div class="card-footer pt-0 pb-3">
								<hr />
								<div class="d-flex justify-content-between">
									<span class="h6 fw-light mb-0">
										<i class="far fa-clock text-danger me-2"></i>9h
										56m
									</span>
									<span class="h6 fw-light mb-0">
										<i class="fas fa-table text-orange me-2"></i>65
										lectures
									</span>
								</div>
							</div>
						</div>
					</div>
					<!-- Card item END -->
					<!-- Card item START -->
					<div class="col-sm-6 col-lg-4 col-xl-3">
						<div class="card shadow h-100">
							<!-- Image -->
							<img src="~/assets/images/courses/4by3/03.jpg"
								 class="card-img-top"
								 alt="course image" />
							<div class="card-body pb-0">
								<!-- Badge and favorite -->
								<div class="d-flex justify-content-between mb-2">
									<a href="#"
									   class="badge bg-success bg-opacity-10 text-success">Beginner</a>
									<a href="#" class="h6 fw-light mb-0">
										<i class="far fa-heart"></i>
									</a>
								</div>
								<!-- Title -->
								<h5 class="card-title">
									<a href="#">Create a Design System in Figma</a>
								</h5>
								<!-- Rating star -->
								<ul class="list-inline mb-0">
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star-half-alt text-warning"></i>
									</li>
									<li class="list-inline-item ms-2 h6 fw-light mb-0">
										4.5/5.0
									</li>
								</ul>
							</div>
							<!-- Card footer -->
							<div class="card-footer pt-0 pb-3">
								<hr />
								<div class="d-flex justify-content-between">
									<span class="h6 fw-light mb-0">
										<i class="far fa-clock text-danger me-2"></i>5h
										56m
									</span>
									<span class="h6 fw-light mb-0">
										<i class="fas fa-table text-orange me-2"></i>32
										lectures
									</span>
								</div>
							</div>
						</div>
					</div>
					<!-- Card item END -->
					<!-- Card item START -->
					<div class="col-sm-6 col-lg-4 col-xl-3">
						<div class="card shadow h-100">
							<!-- Image -->
							<img src="~/assets/images/courses/4by3/07.jpg"
								 class="card-img-top"
								 alt="course image" />
							<div class="card-body pb-0">
								<!-- Badge and favorite -->
								<div class="d-flex justify-content-between mb-2">
									<a href="#"
									   class="badge bg-success bg-opacity-10 text-success">Beginner</a>
									<a href="#" class="text-danger"><i class="fas fa-heart"></i></a>
								</div>
								<!-- Title -->
								<h5 class="card-title">
									<a href="#">Deep Learning with React-Native </a>
								</h5>
								<!-- Rating star -->
								<ul class="list-inline mb-0">
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="far fa-star text-warning"></i>
									</li>
									<li class="list-inline-item ms-2 h6 fw-light mb-0">
										4.0/5.0
									</li>
								</ul>
							</div>
							<!-- Card footer -->
							<div class="card-footer pt-0 pb-3">
								<hr />
								<div class="d-flex justify-content-between">
									<span class="h6 fw-light mb-0">
										<i class="far fa-clock text-danger me-2"></i>18h
										56m
									</span>
									<span class="h6 fw-light mb-0">
										<i class="fas fa-table text-orange me-2"></i>99
										lectures
									</span>
								</div>
							</div>
						</div>
					</div>
					<!-- Card item END -->
					<!-- Card item START -->
					<div class="col-sm-6 col-lg-4 col-xl-3">
						<div class="card shadow h-100">
							<!-- Image -->
							<img src="~/assets/images/courses/4by3/11.jpg"
								 class="card-img-top"
								 alt="course image" />
							<div class="card-body pb-0">
								<!-- Badge and favorite -->
								<div class="d-flex justify-content-between mb-2">
									<a href="#"
									   class="badge bg-purple bg-opacity-10 text-purple">All level</a>
									<a href="#" class="text-danger"><i class="fas fa-heart"></i></a>
								</div>
								<!-- Title -->
								<h5 class="card-title">
									<a href="#">Build Dynamic Websites with HTML</a>
								</h5>
								<!-- Rating star -->
								<ul class="list-inline mb-0">
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="far fa-star text-warning"></i>
									</li>
									<li class="list-inline-item ms-2 h6 fw-light mb-0">
										4.0/5.0
									</li>
								</ul>
							</div>
							<!-- Card footer -->
							<div class="card-footer pt-0 pb-3">
								<hr />
								<div class="d-flex justify-content-between">
									<span class="h6 fw-light mb-0">
										<i class="far fa-clock text-danger me-2"></i>15h
										30m
									</span>
									<span class="h6 fw-light mb-0">
										<i class="fas fa-table text-orange me-2"></i>68
										lectures
									</span>
								</div>
							</div>
						</div>
					</div>
					<!-- Card item END -->
					<!-- Card item START -->
					<div class="col-sm-6 col-lg-4 col-xl-3">
						<div class="card shadow h-100">
							<!-- Image -->
							<img src="~/assets/images/courses/4by3/12.jpg"
								 class="card-img-top"
								 alt="course image" />
							<div class="card-body pb-0">
								<!-- Badge and favorite -->
								<div class="d-flex justify-content-between mb-2">
									<a href="#"
									   class="badge bg-success bg-opacity-10 text-success">Beginner</a>
									<a href="#" class="h6 fw-light mb-0">
										<i class="far fa-heart"></i>
									</a>
								</div>
								<!-- Title -->
								<h5 class="card-title">
									<a href="#">Build Responsive Websites with CSS</a>
								</h5>
								<!-- Rating star -->
								<ul class="list-inline mb-0">
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star-half-alt text-warning"></i>
									</li>
									<li class="list-inline-item ms-2 h6 fw-light mb-0">
										4.5/5.0
									</li>
								</ul>
							</div>
							<!-- Card footer -->
							<div class="card-footer pt-0 pb-3">
								<hr />
								<div class="d-flex justify-content-between">
									<span class="h6 fw-light mb-0">
										<i class="far fa-clock text-danger me-2"></i>36h
										30m
									</span>
									<span class="h6 fw-light mb-0">
										<i class="fas fa-table text-orange me-2"></i>72
										lectures
									</span>
								</div>
							</div>
						</div>
					</div>
					<!-- Card item END -->
					<!-- Card item START -->
					<div class="col-sm-6 col-lg-4 col-xl-3">
						<div class="card shadow h-100">
							<!-- Image -->
							<img src="~/assets/images/courses/4by3/05.jpg"
								 class="card-img-top"
								 alt="course image" />
							<div class="card-body pb-0">
								<!-- Badge and favorite -->
								<div class="d-flex justify-content-between mb-2">
									<a href="#"
									   class="badge bg-success bg-opacity-10 text-success">Beginner</a>
									<a href="#" class="h6 fw-light mb-0">
										<i class="far fa-heart"></i>
									</a>
								</div>
								<!-- Title -->
								<h5 class="card-title">
									<a href="#">The Complete Web Development in python</a>
								</h5>
								<!-- Rating star -->
								<ul class="list-inline mb-0">
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star-half-alt text-warning"></i>
									</li>
									<li class="list-inline-item ms-2 h6 fw-light mb-0">
										4.5/5.0
									</li>
								</ul>
							</div>
							<!-- Card footer -->
							<div class="card-footer pt-0 pb-3">
								<hr />
								<div class="d-flex justify-content-between">
									<span class="h6 fw-light mb-0">
										<i class="far fa-clock text-danger me-2"></i>10h
										00m
									</span>
									<span class="h6 fw-light mb-0">
										<i class="fas fa-table text-orange me-2"></i>26
										lectures
									</span>
								</div>
							</div>
						</div>
					</div>
					<!-- Card item END -->
					<!-- Card item START -->
					<div class="col-sm-6 col-lg-4 col-xl-3">
						<div class="card shadow h-100">
							<!-- Image -->
							<img src="~/assets/images/courses/4by3/06.jpg"
								 class="card-img-top"
								 alt="course image" />
							<div class="card-body pb-0">
								<!-- Badge and favorite -->
								<div class="d-flex justify-content-between mb-2">
									<a href="#"
									   class="badge bg-info bg-opacity-10 text-info">Intermediate</a>
									<a href="#" class="h6 fw-light mb-0">
										<i class="far fa-heart"></i>
									</a>
								</div>
								<!-- Title -->
								<h5 class="card-title">
									<a href="#">Angular – The Complete Guider</a>
								</h5>
								<!-- Rating star -->
								<ul class="list-inline mb-0">
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star text-warning"></i>
									</li>
									<li class="list-inline-item me-0 small">
										<i class="fas fa-star-half-alt text-warning"></i>
									</li>
									<li class="list-inline-item ms-2 h6 fw-light mb-0">
										4.5/5.0
									</li>
								</ul>
							</div>
							<!-- Card footer -->
							<div class="card-footer pt-0 pb-3">
								<hr />
								<div class="d-flex justify-content-between">
									<span class="h6 fw-light mb-0">
										<i class="far fa-clock text-danger me-2"></i>9h
										32m
									</span>
									<span class="h6 fw-light mb-0">
										<i class="fas fa-table text-orange me-2"></i>42
										lectures
									</span>
								</div>
							</div>
						</div>
					</div>
					<!-- Card item END -->
				</div>
			</div>
			<!-- Slider END -->
		</div>
	</div>
</section>
<!-- =======================
Listed college END -->
<!-- =======================
Counter START -->
<section class="py-0 py-lg-5">
	<div class="container">
		<div class="row">
			<div class="col-12 position-relative z-index-1">
				<!-- Image -->
				<div class="d-none d-lg-block position-absolute bottom-0 start-0 ms-5">
					<img class="col-5"
						 src="~/assets/images/element/fu.png"
						 alt="Image" />
				</div>
				<div class="bg-warning p-4 p-sm-5 rounded position-relative z-index-n1 overflow-hidden">
					<!-- SVG decoration -->
					<figure class="position-absolute top-50 end-0 translate-middle-y me-n7">
						<svg class="fill-orange rotate-193 opacity-2"
							 width="676px"
							 height="161.3px"
							 viewBox="0 0 676 161.3"
							 style="enable-background: new 0 0 676 161.3"
							 xml:space="preserve">
						<path d="M53.6,18.8c28.6,8.8,50.3,27.3,70.9,48c19.9,19.9,39.5,40.8,65.3,53c53.3,24.9,116,12.4,168.2-9.1 c58.4-23.9,113.2-59.8,176.2-70.3c30.9-5.1,64.1-2.6,90.9,14.7c22.4,14.4,34.4,36.9,39.5,62.4c2.9,14.5,3.9,29.2,4.6,43.9h6.8 c-0.2-4.2-0.5-8.3-0.8-12.5c-1.7-24.1-4.9-49.1-17.6-70.3c-14.5-23.9-40-39.2-67-44.8c-32.9-6.8-67.2-0.3-98.5,10.2 c-30.3,10-59,24.2-87.7,38.1c-54.8,26.4-115.5,53.1-177.9,42c-14.5-2.6-28.7-7.4-41.7-14.7c-12.8-7.3-23.9-16.7-34.6-26.7 c-20.7-19.6-39.4-42-64.1-56.8c-25.6-15.4-56.4-22.2-86-19H0v6.9C17.9,11.8,36.3,13.5,53.6,18.8z" />
									</svg>
					</figure>

					<div class="row align-items-end justify-content-end position-relative">
						<div class="col-lg-10">
							<div class="row g-3 d-flex align-items-center justify-content-center">
								<!-- Counter item -->
								<div class="col-sm-6 col-lg-3 text-center">
									<div class="d-flex justify-content-center">
										<h4 class="purecounter display-6 text-white fw-bold mb-0"
											data-purecounter-start="0"
											data-purecounter-end="89"
											data-purecounter-delay="200">
											0
										</h4>
									</div>
									<h6 class="text-dark mb-0 fw-bold">
										Total Instructors
									</h6>
								</div>

								<!-- Counter item -->
								<div class="col-sm-6 col-lg-3 text-center">
									<div class="d-flex justify-content-center">
										<h4 class="purecounter display-6 text-white fw-bold mb-0"
											data-purecounter-start="0"
											data-purecounter-end="12"
											data-purecounter-delay="200">
											0
										</h4>
									</div>
									<h6 class="text-dark mb-0 fw-bold">Total Campuses</h6>
								</div>

								<!-- Counter item -->
								<div class="col-sm-6 col-lg-3 text-center">
									<div class="d-flex justify-content-center">
										<h4 class="purecounter display-6 text-white fw-bold mb-0"
											data-purecounter-start="0"
											data-purecounter-end="180"
											data-purecounter-delay="200">
											0
										</h4>
										<span class="display-6 text-white mb-0">K</span>
									</div>
									<h6 class="text-dark mb-0 fw-bold">
										Students till date
									</h6>
								</div>

								<!-- Counter item -->
								<div class="col-sm-6 col-lg-3 text-center">
									<div class="d-flex justify-content-center">
										<h4 class="purecounter display-6 text-white fw-bold mb-0"
											data-purecounter-start="0"
											data-purecounter-end="23"
											data-purecounter-delay="200">
											0
										</h4>
										<span class="display-6 text-white mb-0">+</span>
									</div>
									<h6 class="text-dark mb-0 fw-bold">Types of Courses</h6>
								</div>
							</div>
						</div>
					</div>
					<!-- Row END -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Counter END -->
<!-- =======================
Latest news START -->
<section>
	<div class="container">
		<!-- Title -->
		<div class="row mb-4">
			<div class="d-md-flex justify-content-md-between align-items-center">
				<h2 class="mb-2 mb-md-0">Latest News</h2>
				<div>
					<span class="me-2">Want to read more?</span>
					<a href="#" class="btn btn-sm btn-primary-soft mb-0">
						Go here<i class="fas fa-angle-right ms-2"></i>
					</a>
				</div>
			</div>
		</div>

		<div class="row g-4">
			<div class="col-md-6 col-lg-4">
				<!-- Card item START -->
				<div class="card bg-transparent">
					<div class="overflow-hidden rounded-3">
						<img src="~/assets/images/event/1.png"
							 class="card-img"
							 alt="Card image" />
						<!-- Overlay -->
						<div class="bg-overlay bg-dark opacity-4"></div>
						<div class="card-img-overlay d-flex align-items-start flex-column p-3">
							<!-- badge -->
							<a href="#" class="badge text-bg-danger">Student life</a>
						</div>
					</div>
					<!-- Card body -->
					<div class="card-body px-3">
						<!-- Title -->
						<h5 class="card-title">
							<a href="#">Student Loan Survey: Many Owe $50K-plus</a>
						</h5>
						<p class="text-truncate-2">
							Affronting imprudence do he he everything. Offered chiefly
							farther of my no colonel shyness. Such on help ye some door
							if in. Laughter proposal laughing any son law consider.
							Needed except up piqued an.
						</p>
						<!-- Info -->
						<div class="d-flex justify-content-between">
							<h6 class="mb-0"><a href="#">Frances Guerrero</a></h6>
							<span class="small">30M Ago</span>
						</div>
					</div>
				</div>
				<!-- Card item END -->
			</div>

			<div class="col-md-6 col-lg-8">
				<div class="row g-4">
					<div class="col-lg-7">
						<!-- Card item START -->
						<div class="card bg-light p-3 mb-4">
							<div class="card-body">
								<!-- Badge -->
								<a href="#" class="badge text-bg-success mb-2">Research</a>
								<!-- Title -->
								<h5 class="card-title">
									<a href="#">How to make a college list</a>
								</h5>
								<p>
									Prospective students should start broadly and then
									narrow their list down to colleges that best fit their
									needs, experts say.Yet remarkably appearance get him his
									projection.
								</p>
								<!-- Info -->
								<div class="d-flex justify-content-between">
									<h6 class="mb-0"><a href="#">Louis Crawford</a></h6>
									<span class="small">12H Ago</span>
								</div>
							</div>
						</div>
						<!-- Card item END -->
						<!-- Card item START -->
						<div class="card bg-transparent">
							<div class="overflow-hidden rounded-3">
								<img src="~/assets/images/event/01.jpg"
									 class="card-imgp"
									 alt="Card image" />
								<!-- Overlay -->
								<div class="bg-overlay bg-dark opacity-4"></div>
								<div class="card-img-overlay d-flex align-items-start flex-column p-3">
									<!-- badge -->
									<a href="#" class="badge text-bg-info">Student story</a>
								</div>
							</div>
							<!-- Card body -->
							<div class="card-body px-3">
								<!-- Title -->
								<h5 class="card-title">
									<a href="#">Campus Support for First-Year Students</a>
								</h5>
								<p class="text-truncate-2">
									Prospective students should start broadly and then
									narrow their list
								</p>

								<!-- Info -->
								<div class="d-flex justify-content-between">
									<h6 class="mb-0"><a href="#">Lori Stevens</a></h6>
									<span class="small">3M Ago</span>
								</div>
							</div>
						</div>
						<!-- Card item END -->
					</div>

					<div class="col-lg-5">
						<!-- Card item START -->
						<div class="card bg-transparent">
							<div class="overflow-hidden rounded-3">
								<img src="~/assets/images/event/03.jpg"
									 class="card-img-top"
									 alt="course image" />
								<!-- Overlay -->
								<div class="bg-overlay bg-dark opacity-2 rounded-2"></div>
								<div class="card-img-overlay d-flex align-items-start flex-column p-3">
									<!-- badge -->
									<a href="#" class="badge text-bg-purple">Covid-19</a>
								</div>
							</div>
							<!-- Card body -->
							<div class="card-body px-3">
								<!-- Title -->
								<h5 class="card-title">
									<a href="#">Covid-19 and the college experienced</a>
								</h5>
								<p>
									Rooms oh fully taken by worse do. Points afraid but may
									end law.Points afraid but may end law.
								</p>
								<!-- Info -->
								<div class="d-flex justify-content-between">
									<h6 class="mb-0"><a href="#">Amanda Reed</a></h6>
									<span class="small">July 21, 2021</span>
								</div>
							</div>
						</div>
						<!-- Card item END -->
					</div>
				</div>
				<!-- Row END -->
			</div>
		</div>
		<!-- Row END -->
	</div>
</section>
<!-- =======================
Latest news END -->
