@model LMS.Models.Admin
@{
    ViewData["Title"] = "AdminSetting";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="page-content-wrapper border">

	<!-- Title -->
	<div class="row">
		<div class="col-12 mb-3">
			<h1 class="h3 mb-2 mb-sm-0">Admin Settings</h1>
		</div>
	</div>

	<div class="row g-4">
		<!-- Left side START -->
		<div class="col-xl-3">
			<!-- Tab START -->
			<ul class="nav nav-pills nav-tabs-bg-dark flex-column">
				<li class="nav-item">
					<a class="nav-link active" data-bs-toggle="tab"
					   href="#tab-4">
						<i class="fas fa-user-circle fa-fw me-2"></i>Account
						Settings
					</a>
				</li>
				</li>
			</ul>
			<!-- Tab END -->
		</div>
		<!-- Left side END -->
		<!-- Right side START -->
		<div class="col-xl-9">

			<!-- Tab Content START -->
			<div class="tab-content">
				<!-- Account setting content START -->
				<div class="tab-pane show active" id="tab-4">
					<!-- Activity logs -->
					<div class="bg-light rounded-3 p-4 mb-3">
						<div class="d-md-flex justify-content-between align-items-center">
							<!-- Content -->
							<div>
								<h6 class="h5">Activity Logs</h6>
								<p class="mb-1 mb-md-0">
									You can save your all activity logs
									including unusual activity detected.
								</p>
							</div>
							<!-- Switch -->
							<div class="form-check form-switch form-check-md mb-0">
								<input class="form-check-input" type="checkbox" id="checkPrivacy1"
									   checked>
							</div>
						</div>
					</div>

					<!-- Change password -->
					<div class="bg-light rounded-3 p-4 mb-3">
						<div class="d-md-flex justify-content-between align-items-center">
							<!-- Content -->
							<div>
								<h6 class="h5">Change Password</h6>
								<p class="mb-1 mb-md-0">
									Set a unique password to protect your
									account.
								</p>
							</div>
							<!-- Button -->
							<div>
								<a href="#" class="btn btn-primary mb-1" data-bs-toggle="modal"
								   data-bs-target="#changePassword">Change Password</a>
								<p class="mb-0 small h6">Last change 10 Aug 2020</p>
							</div>
						</div>
					</div>

					<!-- 2 Step Verification -->
					<div class="bg-light rounded-3 p-4">
						<div class="d-md-flex justify-content-between align-items-center">
							<!-- Content -->
							<div>
								<h6 class="h5">2 Step Verification</h6>
								<p class="mb-1 mb-md-0">
									Secure your account with 2 Step security.
									When it is activated you will need to enter not only your
									password, but also a special code using app. You can receive this
									code by in mobile app.
								</p>
							</div>
							<!-- Switch -->
							<div class="form-check form-switch form-check-md mb-0">
								<input class="form-check-input" type="checkbox" id="checkPrivacy13"
									   checked>
							</div>
						</div>
					</div>

					<!-- Active Logs START -->
					<div class="card border mt-4">

						<!-- Card header -->
						<div class="card-header border-bottom">
							<h5 class="card-header-title">Active Logs</h5>
						</div>

						<!-- Card body START -->
						<div class="card-body">
							<!-- Table START -->
							<div class="table-responsive border-0">
								<table class="table table-dark-gray align-middle p-4 mb-0 table-hover">

									<!-- Table head -->
									<thead>
										<tr>
											<th scope="col" class="border-0 rounded-start">Browser</th>
											<th scope="col" class="border-0">IP</th>
											<th scope="col" class="border-0">Time</th>
											<th scope="col" class="border-0 rounded-end">Action</th>
										</tr>
									</thead>

									<!-- Table body START -->
									<tbody>

										<!-- Table row -->
										<tr>
											<!-- Table data -->
											<td>Chrome On Window</td>

											<!-- Table data -->
											<td>173.238.198.108</td>

											<!-- Table data -->
											<td>12 Nov 2021</td>

											<!-- Table data -->
											<td>
												<button class="btn btn-sm btn-danger-soft me-1 mb-1 mb-md-0">
													Sign
													out
												</button>
											</td>
										</tr>

										<!-- Table row -->
										<tr>
											<!-- Table data -->
											<td>Mozilla On Window</td>

											<!-- Table data -->
											<td>107.222.146.90</td>

											<!-- Table data -->
											<td>08 Nov 2021</td>

											<!-- Table data -->
											<td>
												<button class="btn btn-sm btn-danger-soft me-1 mb-1 mb-md-0">
													Sign
													out
												</button>
											</td>
										</tr>

										<!-- Table row -->
										<tr>
											<!-- Table data -->
											<td>Chrome On iMac</td>

											<!-- Table data -->
											<td>231.213.125.55</td>

											<!-- Table data -->
											<td>06 Nov 2021</td>

											<!-- Table data -->
											<td>
												<button class="btn btn-sm btn-danger-soft me-1 mb-1 mb-md-0">
													Sign
													out
												</button>
											</td>
										</tr>

										<!-- Table row -->
										<tr>
											<!-- Table data -->
											<td>Mozilla On Window</td>

											<!-- Table data -->
											<td>37.242.105.138</td>

											<!-- Table data -->
											<td>02 Nov 2021</td>

											<!-- Table data -->
											<td>
												<button class="btn btn-sm btn-danger-soft me-1 mb-1 mb-md-0">
													Sign
													out
												</button>
											</td>
										</tr>

									</tbody>
									<!-- Table body END -->
								</table>
							</div>
							<!-- Table END -->
						</div>
						<!-- Card body END -->
					</div>
					<!-- Active Logs END -->
				</div>
				<!-- Account setting content END -->

			</div>
			<!-- Tab Content END -->
		</div>
		<!-- Right side END -->
	</div> <!-- Row END -->
</div>