
@{
    ViewData["Title"] = "CourseAdd";
	Layout = "~/Views/Shared/_LayoutLecture.cshtml";
}

	<!-- Page main content START -->
	<div class="page-content-wrapper border">

		<!-- Title -->
		<div class="row">
			<div class="col-12 mb-3">
				<h1 class="h3 mb-2 mb-sm-0">Add new Admin</h1>
			</div>
		</div>

		<form class="row g-3">
			<div class="col-md-5">
				<label for="email" class="form-label">Email</label>
				<input type="email" class="form-control" id="email">
			</div>
			<div class="col-md-4">
				<label for="username" class="form-label">Username</label>
				<input type="text" class="form-control" id="username">
			</div>
			<div class="col-md-3">
				<label for="password" class="form-label">Password</label>
				<input type="password" class="form-control" id="password">
			</div>
			<div class="col-5">
				<label for="name" class="form-label">Fullname</label>
				<input type="text" class="form-control" id="name">
			</div>
			<div class="col-7">
				<label for="address" class="form-label">Address</label>
				<input type="text" class="form-control" id="address">
			</div>
			<div class="col-12">
				<button type="submit" class="btn btn-primary">Create</button>
			</div>
		</form>

	</div>
	<!-- Page main content END -->

