@model LMS.Models.Course
@{
	ViewData["Title"] = "CourseAdd";
	Layout = "~/Views/Shared/_LayoutLecture.cshtml";
}

<div class="col-xl-9">
	<!-- Page main content START -->
	@* Toast *@
	<div class="toast-container position-fixed bottom-0 end-0 ">
		<div id="liveToast" class="toast bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true"
			style="backdrop-filter: blur(10px);">
			<div class="toast-header">

				<strong class="me-auto ">System</strong>
				<small>Just now</small>
				<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
			</div>
			<div class="toast-body">
				Successfully deleted admin from the system
			</div>
		</div>
	</div>
	<div class="page-content-wrapper border">
		<!-- Title -->
		<div class="row">
			<div class="col-12 mb-3">
				<h1 class="h3 mb-2 mb-sm-0">Add new Account</h1>
			</div>
			<form lass="row g-3" asp-controller="Course" asp-action="CourseAdd" method="post" enctype="multipart/form-data">
				<div class="col-md-5">
					<label asp-for="Video" class="control-label"></label>
					<input asp-for="Video" class="form-control" />
					<span asp-validation-for="Video" class="text-danger"></span>
				</div>
				<div class="col-md-5">
					<label asp-for="Describe" class="control-label"></label>
					<input asp-for="Describe" class="form-control" />
					<span asp-validation-for="Describe" class="text-danger"></span>
				</div>
				<div class="col-md-5">
					<label asp-for="Name" for="name" class="form-label">Name</label>
					<input asp-for="Name" type="Name" class="form-control" id="Name">
				</div>
				<div class="col-md-5">
					<label asp-for="Code" for="Code" class="form-label">Code</label>
					<input asp-for="Code" type="text" class="form-control" id="Code">
				</div>
				<div class="col-md-5">
					<label asp-for="Instructor" for="Instructor" class="form-label">Instructor</label>
					<input asp-for="Instructor" type="Instructor" class="form-control" id="Instructor">
				</div>
				<div class="col-md-5">
					<label asp-for="Semester" for="Semester" class="form-label">Semester</label>
					<input asp-for="Semester" type="text" class="form-control" id="Semester">
				</div>
				<div class="col-md-5">
					<label asp-for="Year" for="Year" class="form-label">Year</label>
					<input asp-for="Year" type="text" class="form-control" id="Year">
				</div>
				<div class="col-md-5">
					<label asp-for="LecturerId" for="LecturerId" class="form-label">LecturerId</label>
					<input class="form-control" type="text" asp-for="LecturerId" />
				</div>
				<div class="col-12">
					<button type="submit" class="btn btn-primary" asp-controller="Course" asp-action="CourseAdd" asp-route-lecturerId="@ViewBag.LecturerId">Create</button>
				</div>
			</form>
		</div>
	</div>
	
	<!-- Page main content END -->
</div>
