@model LMS.Models.Lecturer

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Delete Modal-->
<div class="modal fade" id="exampleDelete" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Do you want to delete</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    No
                </button>
                <button type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- Page main content START -->
<div class="page-content-wrapper border">
    <!-- Title -->
    <div class="row">
        <div class="col-12">
            <h1>Delete</h1>
            <h4>Admin</h4>
        </div>
    </div>
    <div class="card bg-transparent">
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Phone)
            </dd>
        </dl>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input data-bs-target="#exampleDelete" type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="AdminLecture">Back to List</a>
        </form>
    </div>
</div>
<!-- Page main content END -->
